
h6{

  color: darkblue;
}


input[type=text] {
  background-color: white;
  color:darkblue;
  border: none;
  text-align: center;
}

input[type=button] {
  background-color: white;
  color:darkblue;
  border: none;
  text-align: center;
}

.navbar{
  padding:0;
  background-color:darkblue;
  margin:0;
  height: 50px;
}

.info{
  padding: 0;
  height:250px;
  width:400px;
  float:center;

}
.add_user{
  float:center;
  padding:0;
}

.userImg{

  height:50px;
  width:50px;
}
#users{
  display: inline-block;
  margin: 10px;
  width:400px;

}

.user{

  border:solid 2px;
  border-color: darkblue;
  padding: 10px;
  height:auto;
  width:400px;
  display: inline-block;

}
#earnings {

  width:400px;
}
.reward{

  display: inline-block;

}
.dates{
  float: left;
  color:darkblue;
}
.money{
  float: right;
  margin-left: 15px;
  color:green;
}
